@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-right:20px;
    margin-bottom: 20px;
    margin-left: 20px;
    
    
}

#title {
    background: yellow;
    display: block;
   
    
    
}

#subtitle {
    background: black;
    color: white;
    text-align: center;
    display: block;
    
}

.topic {
    background: lightgray;
     text-align: center;
    display:inline-block;
}

