@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-right:10px;
    margin-bottom: 10px;
    margin-left: 10px;
    
}

#title {
    background: yellow;
    display: block;
    
    
}

#subtitle {
    background: black;
    color: white;
    text-align: center;
     display: block;
    
}

.topic {
    background: lightgray;
    text-align: center;
    display: inline-block;
}
